.dashboard {
  padding: 25px 10px;
}

.panel {
  padding-bottom: 25px;
}

p-multiselect-panel {
  z-index: 1050 !important;
}

:host ::ng-deep .p-calendar .p-datepicker {
  z-index: 1 !important;
}

:host ::ng-deep .p-overlay {
  z-index: 1050 !important;
}

:host ::ng-deep .p-dialog-mask {
  z-index: 2000 !important;
}

:host ::ng-deep .p-toast {
  z-index: 2000 !important;
}

.center {
  text-align: center;
}

:host ::ng-deep .p-datatable > .p-datatable-wrapper {
  min-width: 100%;
  min-height: 500px;
  max-height: 66vh;
}
