<nav class="navbar">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="navbar-left">
      @if (canShowSidebarButton()) {
        <p-button type="button" icon="pi pi-bars" (onClick)="openSidebar()"></p-button>
      }
    </div>

    <a class="navbar-brand" routerLink="/app">
      Ρευστή Δημοκρατία
    </a>

    <div class="navbar-right d-flex">
      @if (this.authService.isAuthenticated()) {
        <p-dropdown
          #dropdown
          [options]="getRoles()"
          [style]="{'width':'100%'}"
          [(ngModel)]="selectedRole"
          placeholder="Επιλογή ρόλου"
          (onChange)="onRoleChange($event)"/>

        <div>{{ localStorage.getItem('name') + ' ' + localStorage.getItem('surname') }}</div>
      }
    </div>
  </div>
</nav>

@if (canShowSidebar()) {
  <p-sidebar #sidebar [(visible)]="visibleSidebar" [dismissible]="true" (onHide)="closeSidebar()" [style]="{'z-index':'1'}">
    <ul>
      <li><i class="pi pi-home"></i> <a (click)="navigateTo('/dashboard')"> Κύρια Οθόνη</a></li>
      <li><i class="pi pi-check-square"></i> <a (click)="navigateTo('/votings')"> Ψηφοφορίες</a></li>
      <li><i class="pi pi-users"></i> <a (click)="navigateTo('/delegations')"> Αναθέσεις</a></li>
      <li><i class="pi pi-cog"></i> <a (click)="navigateTo('/settings')"> Ρυθμίσεις</a></li>
      <li><i class="pi pi-sign-out"></i> <a (click)="logout()"> Αποσύνδεση</a></li>
    </ul>
  </p-sidebar>
}
