<p-toast></p-toast>

<div class="login-container">
  <h3>Επαναφορά Κωδικού Πρόσβασης</h3>

  @if (currentStep === 1) {
    <form [formGroup]="stepOneForm" (ngSubmit)="onStepOneSubmit()">
      <div class="form-group">
        <label for="username">Όνομα χρήστη *</label>
        <input type="text" id="username" formControlName="username"/>
        @if (stepOneForm.get('username')?.invalid && stepOneForm.get('username')?.touched) {
          <div><small class="error">Υποχρεωτικό πεδίο</small></div>
        }
      </div>

      <div class="form-group">
        <label for="email">Διεύθυνση Email *</label>
        <input type="text" id="email" formControlName="email"/>
        @if (stepOneForm.get('email')?.invalid && stepOneForm.get('email')?.touched) {
          <div><small class="error">Υποχρεωτικό πεδίο</small></div>
        }
      </div>

      @if (stepOneForm.errors?.['unknownUserError']) {
        <div>
          <small class="error">Ο χρήστης δεν βρέθηκε</small>
        </div>
        <p></p>
      }

      <div class="button-container">
        <p-button class="left-button" routerLink="/login" severity="secondary" label="Ακύρωση"></p-button>
        <p-button class="right-button" type="submit" [disabled]="stepOneForm.invalid" label="Επόμενο"></p-button>
      </div>
    </form>
  }

  @if (currentStep === 2) {
    <form [formGroup]="stepTwoForm" (ngSubmit)="onStepTwoSubmit()">
      <div class="form-group">
        <label>Ερώτηση Ασφαλείας:</label>
        <div>{{ securityQuestion }}</div>
      </div>

      <div class="form-group">
        <label for="securityAnswer">Απάντηση *</label>
        <input type="text" id="securityAnswer" formControlName="securityAnswer"/>
        @if (stepTwoForm.get('securityAnswer')?.invalid && stepTwoForm.get('securityAnswer')?.touched) {
          <div><small class="error">Υποχρεωτικό πεδίο</small></div>
        }
        @if (stepTwoForm.errors?.['incorrectAnswerError']) {
          <div>
            <small class="error">Εσφαλμένη απάντηση</small>
          </div>
        }
      </div>

      <div class="form-group">
        <label for="password">Κωδικός Πρόσβασης *</label>
        <input type="password" id="password" formControlName="password"/>
        @if (stepTwoForm.get('password')?.invalid && stepTwoForm.get('password')?.touched) {
          <div><small class="error">Υποχρεωτικό πεδίο</small></div>
        }
      </div>

      <div class="form-group">
        <label for="passwordRepeat">Επανάληψη Κωδικού Πρόσβασης *</label>
        <input type="password" id="passwordRepeat" formControlName="passwordRepeat"/>
        @if (stepTwoForm.get('passwordRepeat')?.invalid && stepTwoForm.get('passwordRepeat')?.touched) {
          <div><small class="error">Υποχρεωτικό πεδίο</small></div>
        }
        @if (stepTwoForm.errors?.['mismatch']) {
          <div>
            <small class="error">Οι κωδικοί πρόσβασης δεν ταιριάζουν</small>
          </div>
        }
      </div>

      <div class="button-container">
        <p-button type="button" label="Προηγούμενο" (click)="onPrevious()"></p-button>
        <p-button type="submit" label="Επαναφορά" [disabled]="stepTwoForm.invalid"></p-button>
      </div>
    </form>
  }
</div>
