.dashboard {
  padding-left: 10px;
  padding-right: 10px;
}

.voting-card {
  margin: 10px;
  border-radius: 8px;
}

.voting-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.voting-info {
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
}

.voting-title {
  width: 14vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-top: 0;
}

.voting-topic {
  width: 14vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 0.9rem;
  color: #888;
}

.voting-stats {
  width: 100%;
  margin-bottom: 15px;
}

.voting-icon {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.voting-icon i {
  margin-right: 5px;
}

.voting-button {
  align-self: flex-end;
}

.delegations {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
  gap: 2%;
}

p-multiselect-panel {
  z-index: 1050 !important;
}

:host ::ng-deep .p-dialog-mask {
  z-index: 2000 !important;
}

:host ::ng-deep .p-toast {
  z-index: 2000 !important;
}

.center {
  text-align: center;
}

.half {
  width: 49%;
}
