<p-toast></p-toast>

<div class="dashboard">
  <div class="voting-details-container">
    <div class="voting-details-header">
      <h2>{{ votingDetails?.name }}</h2>
      <p>{{ votingDetails?.topic }}</p>
      <div class="voting-dates">
        <p><strong>Ημερομηνία Έναρξης: </strong>{{ votingDetails?.startDate }}</p>
        <p><strong>Ημερομηνία Λήξης: </strong>{{ votingDetails?.endDate }}</p>
      </div>
    </div>
    <div class="voting-information">
      <h3>Πληροφορίες</h3>
      <p>{{ votingDetails?.information }}</p>
    </div>
  </div>

  @if (!isExpired()) {
    <div class="details">
      <p-panel header="Ψήφος" class="vote-panel">
        @if (votingDetails?.userVote) {
          @if (votingDetails?.votingType === 1) {
            <form class="flex flex-column gap-3" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              @if (votingDetails?.delegated === false) {
                <p>Η ψήφος σας (Άμεση)</p>
              } @else if (votingDetails?.delegated === true) {
                <p>Η ψήφος σας (Έμμεση)</p>
              }
              <div class="voting-option" *ngFor="let option of votingDetails?.results">
                <p-radioButton
                  [inputId]="option.option.title"
                  [value]="option.option.title"
                  formControlName="vote"/>
                <div class="option-labels">
                  <label [for]="option.option.title" class="option-title">
                    {{ option.option.title }}
                  </label>
                  <span class="option-details">
                  {{ option.option.details }}
                </span>
                </div>
              </div>
              <p-button type="submit" [disabled]="true" class="button" label="Υποβολή"></p-button>
            </form>
          }
        } @else {
          @if (votingDetails?.votingType === 1) {
            <form class="flex flex-column gap-3" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="voting-option" *ngFor="let option of votingDetails?.results">
                <p-radioButton
                  [inputId]="option.option.title"
                  [value]="option.option.title"
                  formControlName="vote"/>
                <div class="option-labels">
                  <label [for]="option.option.title" class="option-title">
                    {{ option.option.title }}
                  </label>
                  <span class="option-details">
                  {{ option.option.details }}
                </span>
                </div>
              </div>
              <p-button type="submit" [disabled]="formGroup.invalid" class="button" label="Υποβολή"></p-button>
            </form>
          }
        }
      </p-panel>

      <p-panel header="Συζήτηση" class="comments-panel">
        <div class="comments">
          <div class="comment" *ngFor="let comment of comments;">
            <h4>{{ comment.name + " " + comment.surname }}</h4>
            <p>{{ comment.message }}</p>
            <div class="comment-actions">
              <button
                pButton
                icon="pi pi-thumbs-up"
                label="{{ comment.likes }}"
                class="like-button"
                [class.selected]="comment.userAction === true"
                (click)="like(comment.id)"
              ></button>
              <button
                pButton
                icon="pi pi-thumbs-down"
                label="{{ comment.dislikes }}"
                class="dislike-button"
                [class.selected]="comment.userAction === false"
                (click)="dislike(comment.id)"
              ></button>
            </div>
          </div>
        </div>
        <div class="new-comment">
          <input
            type="text"
            class="comment-input"
            placeholder="Προσθέστε ένα σχόλιο..."
            [(ngModel)]="newComment"
          />
          <p-button
            type="button"
            [disabled]="checkComment()"
            label="Αποστολή"
            (onClick)="submitComment()"
          ></p-button>
        </div>
      </p-panel>

    </div>
  } @else {
    <div class="details">
      <p-panel header="Αποτελέσματα & Στατιστικά" class="results-panel">
        <div class="results-content">
          <div class="vote-section">
            @if (votingDetails?.votingType === 1) {
              <form class="flex flex-column gap-3" [formGroup]="formGroup">
                @if (votingDetails?.delegated === false) {
                  <p>Η ψήφος σας (Άμεση)</p>
                } @else if (votingDetails?.delegated === true) {
                  <p>Η ψήφος σας (Έμμεση)</p>
                }
                <div class="voting-option" *ngFor="let option of votingDetails?.results">
                  <p-radioButton
                    [inputId]="option.option.title"
                    [value]="option.option.title"
                    formControlName="vote"/>
                  <div class="option-labels">
                    <label [for]="option.option.title" class="option-title">
                      {{ option.option.title }}
                    </label>
                    <span class="option-details">
                  {{ option.option.details }}
                </span>
                  </div>
                </div>
              </form>
            }
          </div>

          <div class="results-section">
            <p>Αποτελέσματα</p>
            <p-chart type="bar" [data]="resultData" [options]="resultOptions"/>
          </div>

          <div class="distribution-section">
            <p>Κατανομή ψήφων</p>
            <p-chart type="pie" [data]="distributionData" [options]="distributionOptions"/>
          </div>
        </div>
      </p-panel>

      <p-panel header="Προτάσεις & Ανατροφοδότηση" class="feedback-panel">
        <div class="feedback-content">
          <p>Τι θα προτείνατε για να βελτιώσουμε τη διαδικασία ψηφοφορίας;</p>
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            [(ngModel)]="feedback"
            [disabled]="feedbackExists()"
            [autoResize]="true"
            placeholder="Υποβάλετε τα σχόλιά σας...">
        </textarea>
          <p-button type="button" [disabled]="checkFeedback()" class="submit-feedback-button" label="Αποστολή"
                    (onClick)="submitFeedback()"></p-button>
        </div>
      </p-panel>
    </div>
  }
</div>
