<p-toast></p-toast>

<p-breadcrumb
  class="max-w-full"
  [model]="items"
  [home]="home"/>

<div class="dashboard">
  <p-tabView>
    <p-tabPanel header="Χρήστες & Ρόλοι" [cache]="false">
      <ng-template pTemplate="content">
        <p-table
          #dt
          [value]="userDetails"
          [rows]="10"
          [loading]="loading"
          [paginator]="true"
          selectionMode="single"
          [(selection)]="selectedUser"
          dataKey="username"
          [scrollable]="true"
          scrollHeight="flex"
          [globalFilterFields]="['name', 'surname', 'username', 'email', 'roles']">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name" class="center" style="width:20%">
                Όνομα
                <p-sortIcon field="name"/>
              </th>
              <th pSortableColumn="surname" class="center" style="width:20%">
                Επώνυμο
                <p-sortIcon field="surname"/>
              </th>
              <th pSortableColumn="username" class="center" style="width:20%">
                Όνομα χρήστη
                <p-sortIcon field="username"/>
              </th>
              <th pSortableColumn="email" class="center" style="width:20%">
                Διεύθυνση Email
                <p-sortIcon field="email"/>
              </th>
              <th pSortableColumn="roles" class="center" style="width:20%">
                Ρόλοι
                <p-sortIcon field="roles"/>
              </th>
            </tr>
            <tr>
              <th>
                <p-columnFilter
                  [showMenu]="false"
                  type="text"
                  field="name"
                  placeholder="Όνομα"
                  ariaLabel="Filter Name"/>
              </th>
              <th>
                <p-columnFilter
                  [showMenu]="false"
                  type="text"
                  field="surname"
                  placeholder="Επώνυμο"
                  ariaLabel="Filter Surname"/>
              </th>
              <th>
                <p-columnFilter
                  [showMenu]="false"
                  type="text"
                  field="username"
                  placeholder="Όνομα χρήστη"
                  ariaLabel="Filter username"/>
              </th>
              <th>
                <p-columnFilter
                  [showMenu]="false"
                  type="text"
                  field="email"
                  placeholder="Διεύθυνση Email"
                  ariaLabel="Filter email"/>
              </th>
              <th>
                <p-columnFilter field="roles" matchMode="customArray" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    @if (allowRoleMultiSelect) {
                      <p-multiSelect
                        #roleMultiSelect
                        [ngModel]="value"
                        [options]="allRoles"
                        placeholder="Ρόλοι"
                        (onChange)="filter($event.value)"
                        [maxSelectedLabels]=1
                        selectedItemsLabel="{0} ρόλοι επιλέχθηκαν"
                        optionLabel="">
                        <ng-template let-option pTemplate="item">
                          <div class="inline-block vertical-align-middle">
                            {{ option }}
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    }
                  </ng-template>
                </p-columnFilter>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr [pSelectableRow]="user">
              <td>
                {{ user.name }}
              </td>
              <td>
                {{ user.surname }}
              </td>
              <td>
                {{ user.username }}
              </td>
              <td>
                {{ user.email }}
              </td>
              <td>
                {{ user.roles.join(', ') }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">Δεν βρέθηκαν χρήστες</td>
            </tr>
          </ng-template>
        </p-table>
        <div class="table-button-container">
          <p-button severity="danger" (onClick)="revokeRole()" [disabled]="!selectedUser"
                    label="Ανάκληση ρόλου"></p-button>
          <p-button (onClick)="assignRole()" [disabled]="!selectedUser" label="Ανάθεση ρόλου"></p-button>
        </div>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Θεματικές Περιοχές" [cache]="false">
      <ng-template pTemplate="content">
        <div class="card flex flex-column align-items-center gap-4">
          <p-scroller
            [items]="topics"
            [itemSize]="50"
            scrollHeight="400px"
            styleClass="border-1 surface-border scroller">
            <ng-template pTemplate="item" let-item let-options="options">
              <div class="flex align-items-center p-2" [ngClass]="{ 'surface-ground': options.odd }"
                   style="height: 50px;">
                {{ item }}
              </div>
            </ng-template>
          </p-scroller>
        </div>

        <form [formGroup]="newTopicForm" (ngSubmit)="onTopicSubmit()" class="topic-form-container">
          <div class="voting-form-group">
            <label for="name">Όνομα Θεματικής Περιοχής</label>
            <input
              type="text"
              id="name"
              formControlName="name"
            />
            @if (newTopicForm.get('name')?.invalid && newTopicForm.get('name')?.errors?.['required'] && newTopicForm.get('name')?.touched) {
              <div>
                <small class="error">Υποχρεωτικό πεδίο</small>
              </div>
            }
            @if (newTopicForm.get('name')?.invalid && newTopicForm.get('name')?.errors?.['maxlength']) {
              <div>
                <small class="error">Υπερβολικά μεγάλο μήκος</small>
              </div>
            }
          </div>

          <p></p>

          <div class="topic-button-container">
            <p-button type="submit" [disabled]="newTopicForm.invalid" label="Δημιουργία"></p-button>
          </div>

        </form>
      </ng-template>

    </p-tabPanel>
    <p-tabPanel header="Νέα Ψηφοφορία" [cache]="false">
      <ng-template pTemplate="content">
        <form [formGroup]="newVotingForm" (ngSubmit)="onSubmit()" class="form-container">
          <div class="voting-form-group">
            <label for="votingName">Όνομα Ψηφοφορίας</label>
            <input
              type="text"
              id="votingName"
              formControlName="votingName"
            />
            @if (newVotingForm.get('votingName')?.invalid && newVotingForm.get('votingName')?.errors?.['required'] && newVotingForm.get('votingName')?.touched) {
              <div>
                <small class="error">Υποχρεωτικό πεδίο</small>
              </div>
            }
            @if (newVotingForm.get('votingName')?.invalid && newVotingForm.get('votingName')?.errors?.['maxlength']) {
              <div>
                <small class="error">Υπερβολικά μεγάλο μήκος</small>
              </div>
            }
          </div>

          <div class="voting-form-group">
            <label for="topic">Θεματική Περιοχή</label>
            @if (allowTopicDropdown) {
              <p-dropdown
                #topicDropdown
                id="topic"
                [options]="topics"
                [panelStyleClass]="'upwards-panel'"
                [style]="{'width':'100%'}"
                [(ngModel)]="selectedTopic"
                placeholder="Θεματική Περιοχή"
                formControlName="topic"
                (onChange)="onTopicChange($event)"/>
            }

            @if (newVotingForm.get('topic')?.invalid && newVotingForm.get('topic')?.touched) {
              <div>
                <small class="error">Υποχρεωτικό πεδίο</small>
              </div>
            }
          </div>

          <div class="voting-form-group">
            <label for="member1">Εφορευτική Επιτροπή (Όνομα Χρήστη)</label>
            <input
              type="text"
              id="member1"
              formControlName="member1"
            />
            @if (newVotingForm.get('member1')?.errors?.['required'] && newVotingForm.get('member1')?.touched) {
              <div>
                <small class="error">Υποχρεωτικό πεδίο</small>
              </div>
            }
            @if (newVotingForm.get('member1')?.errors?.['backend']) {
              <div>
                <small class="error">{{ newVotingForm.get('member1')?.errors?.['backend'] }}</small>
              </div>
            }
            @if (newVotingForm.get('member1')?.errors?.['duplicate']) {
              <div>
                <small class="error">Ο χρήστης υπάρχει ήδη σε άλλο πεδίο</small>
              </div>
            }
          </div>

          <div class="voting-form-group">
            <input
              type="text"
              id="member2"
              formControlName="member2"
            />
            @if (newVotingForm.get('member2')?.errors?.['required'] && newVotingForm.get('member2')?.touched) {
              <div>
                <small class="error">Υποχρεωτικό πεδίο</small>
              </div>
            }
            @if (newVotingForm.get('member2')?.errors?.['backend']) {
              <div>
                <small class="error">{{ newVotingForm.get('member2')?.errors?.['backend'] }}</small>
              </div>
            }
            @if (newVotingForm.get('member2')?.errors?.['duplicate']) {
              <div>
                <small class="error">Ο χρήστης υπάρχει ήδη σε άλλο πεδίο</small>
              </div>
            }
          </div>

          <div class="voting-form-group">
            <input
              type="text"
              id="member3"
              formControlName="member3"
            />
            @if (newVotingForm.get('member3')?.errors?.['required'] && newVotingForm.get('member3')?.touched) {
              <div>
                <small class="error">Υποχρεωτικό πεδίο</small>
              </div>
            }
            @if (newVotingForm.get('member3')?.errors?.['backend']) {
              <div>
                <small class="error">{{ newVotingForm.get('member3')?.errors?.['backend'] }}</small>
              </div>
            }
            @if (newVotingForm.get('member3')?.errors?.['duplicate']) {
              <div>
                <small class="error">Ο χρήστης υπάρχει ήδη σε άλλο πεδίο</small>
              </div>
            }
          </div>

          <p></p>

          <div class="voting-button-container">
            <p-button (onClick)="resetVotingForm()" severity="secondary"
                      label="Επαναφορά"></p-button>
            <p-button type="submit" [disabled]="newVotingForm.invalid" label="Δημιουργία"></p-button>
          </div>

        </form>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>

@if (allowAssignDialog) {
  <p-dialog header="Ανάθεση ρόλου" draggable="false" closable="false" [modal]="true"
            [(visible)]="assignRoleDialogVisible"
            [style]="{ width: '25rem', height: '17rem' }">
    <div class="dialog-content">
      @if (allowDropdown) {
        <p-dropdown
          #dropdown
          id="assignRoleDropdown"
          [options]="allRoles"
          [style]="{'width':'100%', 'z-index':'1050', 'margin-bottom':'15px'}"
          [(ngModel)]="selectedRole"
          placeholder="Ρόλος"
          (onChange)="onRoleChange()"
        />
      }
      <div class="p-text-secondary block mb-5">{{ selectedUser?.name }} {{ selectedUser?.surname }}</div>
      <div class="p-text-secondary block mb-5">{{ selectedUser?.username }}</div>
      <div class="p-text-secondary block mb-5">{{ selectedUser?.email }}</div>
    </div>
    <div class="dialog-button-container">
      <p-button label="Άκυρο" severity="secondary" (onClick)="this.resetAssignRoleDialog()"/>
      <p-button label="Αποθήκευση" [disabled]="!selectedRole" (onClick)="this.addRole()"/>
    </div>
  </p-dialog>
}

@if (allowRevokeDialog) {
  <p-dialog header="Ανάκληση ρόλου" draggable="false" closable="false" [modal]="true"
            [(visible)]="revokeRoleDialogVisible"
            [style]="{ width: '25rem', height: '17rem' }">
    <div class="dialog-content">
      @if (allowDropdown) {
        <p-dropdown
          #dropdown
          id="revokeRoleDropdown"
          [options]="allRoles"
          [style]="{'width':'100%', 'z-index':'1050', 'margin-bottom':'15px'}"
          [(ngModel)]="selectedRole"
          placeholder="Ρόλος"
          (onChange)="onRoleChange()"
        />
      }
      <div class="p-text-secondary block mb-5">{{ selectedUser?.name }} {{ selectedUser?.surname }}</div>
      <div class="p-text-secondary block mb-5">{{ selectedUser?.username }}</div>
      <div class="p-text-secondary block mb-5">{{ selectedUser?.email }}</div>
    </div>
    <div class="dialog-button-container">
      <p-button label="Άκυρο" severity="secondary" (onClick)="this.resetRevokeRoleDialog()"/>
      <p-button label="Αποθήκευση" [disabled]="!selectedRole" (onClick)="this.removeRole()"/>
    </div>
  </p-dialog>
}
