.dashboard {
  padding: 25px 10px;
}

.button-container {
  position: absolute;
  right: 10px;
  top: 40%;
}

.dialog-content {
  margin-bottom: 20px;
}

.dialog-button-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: 90%;
}

.table-button-container {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.form-group {
  margin-right: 50px;
}

.form {
  display: flex;
  height: 60px;
  margin: 30px 0 30px;
  padding: 0;
  position: relative;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 12px;
}

p-multiselect-panel {
  z-index: 1050 !important;
}

.center {
  text-align: center;
}

.left-button {
  padding-right: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.voting-form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.voting-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.scroller {
  width: 100%;
  max-width: 300px;
}

.topic-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding-top: 3.5%;
}

.topic-button-container {
  text-align: center;
}

:host ::ng-deep .p-toast {
  z-index: 2000 !important;
}

:host ::ng-deep .p-datatable > .p-datatable-wrapper {
  min-width: 100%;
  min-height: 350px;
  max-height: 60vh;
}

:host ::ng-deep .p-overlay {
  z-index: 1050 !important;
}

:host ::ng-deep .p-dialog-mask {
  z-index: 2000 !important;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  align-items: baseline;
}

.option-values {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.option-row {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.text-box {
  width: 28rem;
}

.field-row {
  display: flex;
  flex-direction: column;
}
